<launch>
<node pkg="forklift_server" type="ctrl_server.py" name="ctrl_server" output="screen">
    <rosparam param="command">
    [
        ['PBVS', 'parking_forkcamera']

        <!-- ['PBVS', 'parking_bodycamera'] -->
        <!-- ['PBVS', 'raise_pallet'] -->
    ]
    </rosparam>
</node>
</launch>
